/*Global*/
:root {
    font-size: 16px;
    --soft-white: #F9F9F9;
    --yellow: #FFC107;
    --light-blue: #5A9CFE;
    --inter: 'Inter', sans-serif;
    --blue-gradient: linear-gradient(135deg, rgba(8,13,37,1) 0%, rgba(16,55,95,1) 100%);
    --light-blue-gradient: linear-gradient(180deg, rgba(16,55,95,1) 0%, rgba(26,110,170,1) 20%, rgba(26,110,170,0) 60%);
}
* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--inter);
}
/*R E S P O N S I V E  F O N T S*/
@media (max-width: 550px){
    h1 { font-size: 1.5rem; } 
    h2 { font-size: 1.1rem; }
    p { font-size: 0.8rem; }
}
@media (min-width: 551px){
    h1 {font-size: 3rem;}
    h2 { font-size: 2.5rem; }
    h3 { font-size: 2rem; }
    p { font-size: 1.2rem; }
}
/*R E U S A B L E  C L A S S E S*/
.bg-blue-gradient {
    background: var(--blue-gradient);;
}
.bg-light-blue-gradient {
    background: var(--light-blue-gradient);
}
.white-text {
    color: var(--soft-white);
}
.full-height {
    height: 100vh;
}
.full-width {
    width: 100%;
}
.med-width {
    width: 65%;
}
.container {
    display: flex;
    margin: auto;
    column-gap: 1.5vw;
}
.left-div,
.right-div {
    display: flex;
    flex-flow: column wrap;
    width: 50%;
}
.blue-button {
    width: 200px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--soft-white);
    background-color: var(--light-blue);
    border: none;
    border-radius: 10px;
}
/*H E A D E R  S E C T I O N*/
#background-overlay {
    background: linear-gradient(135deg, rgba(8, 13, 37, 0.5) 0%, rgba(16, 55, 95, 0.5) 100%);
    /* mix-blend-mode: hard-light; */
    object-fit: cover;
    width: 100%;
    height: 92vh;
    position: absolute;
    bottom: 0;
}
#bg-hero-video {
    object-fit: cover;
    width: 100%;
    height: 92vh;
    position: absolute;
    top: 8vh;
    z-index: -1;
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 0;
    z-index: 1;
}
#nav-left,
#nav-right {
    display: flex;
    justify-content: space-evenly;
    width: 40vw;
}
#logo {
    text-align: center;
    width: 20vw;
}
#logo h1 {
    font-size: 48px;
    letter-spacing: 5px;
}
#logo h2 {
    font-size: 20px;
    letter-spacing: 2px;
}
a {
    text-decoration: none;
}
nav .nav-link {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    padding: 0px 25px;
}
nav .nav-link:hover {
    color: var(--yellow);
    border-left: 3px solid var(--yellow);
    border-right: 3px solid var(--yellow);
}
/*Hero Section*/
/*Fade me in*/
#hero {
    height: 90%;
    width: 50%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
}
#hero-image {
    width: 100%;
    height: auto;
}
#hero-image img {
    object-fit: contain;
    width: 100%;
}
#hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    padding: 35px;
    background-color: #00000085;
    border-radius: 15px;
}
#hero-text h1 {
    margin-bottom: 30px;
    font-weight: 700;
    letter-spacing: 3px;
    color: var(--yellow);
    text-transform: uppercase;
}
#hero-text p {
    line-height: 2;
    font-weight: 600;
}
/*Section 1 - System*/
#system-hero {
    background-image: url("isometric-school.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#system-hero h2 {
    margin: 50px 0 25px 0;
}
#system-hero p {
    text-align: center;
    width: 50%;
}
#circle-container {
    position: relative;
    bottom: 80%;
    display: flex;
    width: 60%;
    height: 65%;
    margin: auto;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    column-gap: 50%;
}
.circle-image {
    width: 200px;
    height: 200px;
    border: 5px solid var(--yellow);
    border-radius: 50%;
    background-color: var(--soft-white);
}
/*Why Lockdown*/
#why-lockdown {
    padding: 50px 0;
}

