#blog-post {
    width: 50%;
    margin: 0 auto 25px auto;
    color: var(--dark-blue);
}
/*                    *\
    B L O G  H E R O
\*                    */
.blog-hero {
    margin-bottom: 25px;
    height: 20vh;
    min-height: 225px;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--light-grey);
}
.post-title {
    text-transform: none;
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
    line-height: 4rem;
    color: var(--light-blue);
}
.post-category {
    font-size: 1.75rem;
    letter-spacing: 0.2rem;
    font-weight: 800;
}
.post-date {
    font-size: 1.25rem;
}
/*                          *\
    B L O G  C O N T E N T
\*                          */
/* .blog-content {
    column-gap: 50px;
} */
.main-content {
    width: 80%;
    gap: 25px;
    padding-right: 25px;
    align-items: center;
}
:is(.main-content) :is(.container) {
    gap: 25px;
}
:is(.main-content) :is(.image-container) {
    max-width: 50%;
    min-width: 400px;
}
:is(.main-content) :is(p) {
    line-height: 1.75rem;
}
.med-width-blog-image {
    max-width: 75%;
    margin: auto;
}
:is(.main-content) :is(img) {
    object-fit: cover;
    width: 100%;
}
:is(.main-content) :is(iframe) {
    width: 100%;
    height: auto;
}
.post-link {
    color: var(--light-blue);
    font-weight: 700;
}
/*                 *\
    S I D E B A R
\*                 */
.sidebar {
    width: 20%;
    row-gap: 15px;
    border-left: 1px solid var(--light-grey);
    padding-left: 25px;
}
.sidebar h2 {
    font-size: 2rem;
}
.sidebar-card {
    border: 3px solid var(--light-blue);
    border-radius: 8px;
    padding: 15px;
    color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.sidebar-card:hover {
    transition: 0.25s ease;
    box-shadow: 2px 2px 5px var(--dark-blue-opacity);
}
.sidebar-card h3 {
    font-size: 1.2rem;
}

