#contact-form {
    width: 100%;
}
#contact-form input[type=email],
#contact-form input[type=number] {
    width: 45%;
}
#contact-form textarea {
    width: 100%;
    height: 150px;
}
#contact-table {
    line-height: 1.5rem;
    width: 300px;
}
#opening-hours {
    row-gap: 2vh;
}
#google-maps {
    width: 100%;
    height: 450px;
}