/*                                              *\
    R E S P O N S I V E  C O N V E N T I O N S 
\*                                              */
/*
    @media only screen and (max-width: 550px) {}
    @media only screen and (min-width: 551px) and (max-width: 1058px) {}
    @media only screen and (min-width: 1059px) {}
*/
/*                          *\
    H E R O  S E C T I O N
\*                          */
#bg-overlay {
    background: linear-gradient(135deg, rgba(8, 13, 37, 0.25) 0%, rgba(0, 128, 255, 0.25) 100%);
    object-fit: cover;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 10vh;
    z-index: -1;   
}
#bg-video {
    object-fit: cover;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 10vh;
    z-index: -2;
}
#home-hero {
    height: 90vh;
}
#home-hero-text h1 {
    color: var(--yellow);
}
#home-hero-text .p-head {
    color: var(--soft-white);
}
:is(#home-hero) :is(.container) {
    height: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}
#home-hero-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #00000085;
    border-radius: 15px;
}
@media only screen and (max-width: 550px) {
    :is(#home-hero) :is(.container) {
        width: 95%;
        row-gap: 25px;
    }
    #home-hero-text {
        padding: 5px 5px 10px 5px;
        row-gap: 10px;
    }
    #home-hero-text h1 {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    #home-hero-text .p-head {
        font-size: 1.1rem;
        line-height: 1.75rem;
        padding: 10px;
    }
}
@media only screen and (min-width: 551px) and (max-width: 1058px) {
    :is(#home-hero) :is(.container) {
        width: 90%;
        row-gap: 35px;
    }
    #home-hero-text {
        padding: 15px 40px;
        row-gap: 10px;
    }
    #home-hero-text h1 {
        font-size: 3rem;
        line-height: 3.5rem;
    }
    #home-hero-text .p-head {
        font-size: 1.1rem;
        line-height: 1.75rem;
        padding: 0 25px;
    }
}
@media only screen and (min-width: 1059px) {
    :is(#home-hero) :is(.container) {
        width: 50%;
        min-width: 800px;
        max-width: 1200px;
        row-gap: 50px;
    }
    #home-hero-img {
        max-height: 600px;
        min-height: 200px;
    }
    #home-hero-text {
        padding: 25px;
        row-gap: 25px;
    }
    #home-hero-text h1 {
        font-size: 3rem;
        line-height: 3.5rem;
    }
    #home-hero-text .p-head {
        font-size: 1.25rem;
        line-height: 2rem;
    }
}
@media only screen and (min-width: 1600px) {
    #home-hero-text h1 {
        font-size: 4rem;
        line-height: 4.5rem;
    }
    #home-hero-text .p-head {
        font-size: 1.75rem;
        line-height: 2.5rem;
    }
}
/*                      *\
    T E R M  T I M E S
\*                      */
#term-dates {
    background: var(--blue-gradient);
    color: var(--soft-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}
:is(#term-dates) :is(.container) {
    background-color: var(--soft-white);
    color: var(--dark-blue);
    border-radius: 15px;
    justify-content: center;
}
:is(#term-dates) :is(.container) :is(p) {
    font-weight: 600;
    color: var(--light-blue);
}
:is(#term-dates) :is(table) {
    text-align: left;
}
@media only screen and (max-width: 550px) {
    #term-dates {
        row-gap: 25px;
        padding: 25px;
    }
    :is(#term-dates) :is(.container) {
        width: 100%;
        gap: 15px;
        padding: 15px;
        flex-direction: column;
        align-items: center;
    }
    :is(#term-dates) :is(.container) :is(p) {
        font-size: 1rem;
    }
    :is(#term-dates) :is(table) {
        line-height: 1.5rem;
    }
    :is(#term-dates) :is(th) {
        text-align: right;
    }
    :is(#term-dates) :is(td) {
        padding-left: 15px;
    }
    :is(#term-dates) :is(th),
    :is(#term-dates) :is(td) {
        font-size: 0.9rem;
    }
}
@media only screen and (min-width: 551px) and (max-width: 1058px) {
    #term-dates {
        row-gap: 50px;
        padding: 50px;
    }
    :is(#term-dates) :is(.container) {
        width: 100%;
        column-gap: 25px;
        padding: 25px;
    }
    :is(#term-dates) :is(.container) :is(p) {
        font-size: 1.2rem;
    }
    :is(#term-dates) :is(table) {
        min-width: 400px;
        line-height: 1.75rem;
    }
    :is(#term-dates) :is(th),
    :is(#term-dates) :is(td) {
        font-size: 1rem;
    }
}
@media only screen and (min-width: 1059px) {
    #term-dates {
        row-gap: 50px;
        padding: 50px;
    }
    :is(#term-dates) :is(.container) {
        width: 40%;
        min-width: 1000px;
        column-gap: 25px;
        padding: 25px;
    }
    :is(#term-dates) :is(.container) :is(p) {
        font-size: 1.4rem;
    }
    :is(#term-dates) :is(table) {
        min-width: 400px;
        line-height: 2rem;
    }
    :is(#term-dates) :is(th),
    :is(#term-dates) :is(td) {
        font-size: 1.1rem;
    }
}
/*                               *\
  W H A T  W H Y  L O C K D O W N
\*                               */
#what-why-bg {
    background: var(--light-blue-gradient);
    z-index: -1;
}
/*                            *\
    W H A T  L O C K D O W N
\*                            */
#what-lockdown {
    display: flex;
    flex-direction: column;    
    text-align: center;
    position: relative;
    color: var(--dark-blue);
    z-index: 0;
}
:is(#what-lockdown) :is(.outer-container){
    row-gap: 25px;
    margin: 0 auto;
    justify-content: flex-start;
}
/*                    *\
  H O W  A L E R T E X
\*                    */
:is(#how-alertex) :is(.inner-container) :has(.alertex-diagram){
    order: 2;
}
:is(#how-alertex) :is(.alertex-diagram){
    min-width: 400px;
    max-width: 800px;
    margin: auto;
}
@media only screen and (max-width: 550px) {
    :is(#how-alertex) :is(.outer-container){
        flex-direction: column;
    }
}
@media only screen and (min-width: 551px) and (max-width: 1058px) {
    :is(#how-alertex) :is(.outer-container){
        flex-direction: column;
    }
}
@media only screen and (min-width: 1059px) {
    #how-alertex {
        margin-top: 25px;
    }
}
/*                          *\
    W H Y  L O C K D O W N
\*                          */
#why-lockdown {
    background: var(--blue-gradient);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}
:is(#why-lockdown) :is(h1, h2, h3, p){
    color: var(--soft-white);
}
.feature-video {
    min-height: 400px;
    width: 100%;
}
.quote {
    font-style: italic;
}
@media only screen and (max-width: 550px) {
    :is(#why-lockdown) :is(.outer-container){
        flex-flow: column wrap;
    }
}
@media only screen and (min-width: 551px) and (max-width: 1058px) {
    :is(#why-lockdown) :is(.outer-container){
        flex-flow: column wrap;
    }
}
@media only screen and (min-width: 1059px) {}
/*                              *\
    W H E R E  L O C K D O W N
\*                              */
#where-lockdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 2vh;
    padding: 3% 5%;
    position: relative;
    color: var(--dark-blue);
}
#where-lockdown::before {
    content: "";
    background-image: url(../images/bg-elements/network-vector.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 70%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}
.where-lockdown-card-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 80vw;
    flex-wrap: wrap;
}
.where-lockdown-card {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-width: 200px;
    gap: 10px;
}
:is(.where-lockdown-card) :is(.image-container){
    height: 200px;
    border: 5px solid var(--light-blue);
    border-radius: 5px;
}
:is(.where-lockdown-card) :is(.image-container) :is(img){
    object-fit: cover;
}
/*                      *\
    B L O G  C A R D S
\*                      */
#case-studies {
    background: var(--blue-gradient);
    color: var(--soft-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#blog-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.blog-card {
    background-color: var(--soft-white);
    color: var(--dark-blue);
    border: 3px solid var(--light-blue);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.blog-card p {
    font-style: italic;
}
:is(.blog-card) :is(.image-container) {
    margin: 0 auto;
}
:is(.blog-card) :is(img) {
    object-fit: cover;
}
@media only screen and (max-width: 550px) {
    #case-studies {
        row-gap: 20px;
        padding: 20px;
    }
    #blog-carousel {
        gap: 25px;
        padding: 0 30px;
    }
    .blog-card {
        padding: 10px;
        row-gap: 5px;
    }
}
@media only screen and (min-width: 551px) and (max-width: 1058px) {
    #case-studies {
        row-gap: 30px;
        padding: 30px;
    }
    #blog-carousel {
        gap: 35px;
    }
    .blog-card {
        padding: 10px;
        width: 300px;
        height: 275px;
        row-gap: 5px;
    }
    :is(.blog-card) :is(.image-container) {
        width: 100%;
        height: 150px;
    }
}
@media only screen and (min-width: 1059px) {
    #case-studies {
        row-gap: 50px;
        padding: 50px;
    }
    #blog-carousel {
        gap: 50px;
    }
    .blog-card {
        padding: 10px;
        width: 300px;
        height: 350px;
        row-gap: 5px;
    }
    .blog-card:hover {
        background-color: var(--light-blue);
        color: var(--soft-white);
        transition: 0.75s ease;
        box-shadow: 5px 5px 10px var(--dark-blue);
    }
    .blog-card:active {
        background-color: var(--soft-white);
        transition: 0.25s ease-out;
        border: 3px solid transparent;
    }
    :is(.blog-card) :is(.image-container) {
        width: 100%;
        height: 200px;
    }
}