/*                                              *\
    R E S P O N S I V E  C O N V E N T I O N S 
\*                                              */
/*
    @media only screen and (max-width: 550px) {}
    @media only screen and (min-width: 551px) and (max-width: 1058px) {}
    @media only screen and (min-width: 1059px) {}
*/
/*                          *\
    H E R O  S E C T I O N
\*                          */
#bg-overlay {
    background: linear-gradient(135deg, rgba(8, 13, 37, 0.25) 0%, rgba(0, 128, 255, 0.25) 100%);
    object-fit: cover;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 10vh;
    z-index: -1;   
}
#bg-video {
    object-fit: cover;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 10vh;
    z-index: -2;
}
#home-hero {
    height: 90vh;
}
#home-hero-text h1 {
    color: var(--yellow);
}
#home-hero-text .p-head {
    color: var(--soft-white);
}
:is(#home-hero) :is(.container) {
    height: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}
#home-hero-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #00000085;
    border-radius: 15px;
}
@media only screen and (max-width: 550px) {
    :is(#home-hero) :is(.container) {
        width: 95%;
        row-gap: 25px;
    }
    #home-hero-text {
        padding: 5px 5px 10px 5px;
        row-gap: 10px;
    }
    #home-hero-text h1 {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    #home-hero-text .p-head {
        font-size: 1.1rem;
        line-height: 1.75rem;
        padding: 10px;
    }
}
@media only screen and (min-width: 551px) and (max-width: 1058px) {
    :is(#home-hero) :is(.container) {
        width: 90%;
        row-gap: 35px;
    }
    #home-hero-text {
        padding: 15px 40px;
        row-gap: 10px;
    }
    #home-hero-text h1 {
        font-size: 3rem;
        line-height: 3.5rem;
    }
    #home-hero-text .p-head {
        font-size: 1.1rem;
        line-height: 1.75rem;
        padding: 0 25px;
    }
}
@media only screen and (min-width: 1059px) {
    :is(#home-hero) :is(.container) {
        width: 50%;
        row-gap: 50px;
    }
    #home-hero-text {
        padding: 35px;
    }
}





/*section test*/
/* .full-height {
    height: 100vh;
    background-color: white;
} */