/*Global*/
:root {
    font-size: 16px;
    --soft-white: #F9F9F9;
    --yellow: #FFC107;
    --light-blue: #5A9CFE;
    --dark-blue: #080D25;
    --light-grey: #CFCFCF;
    --inter: 'Inter', sans-serif;
    --blue-gradient: linear-gradient(135deg, rgba(8,13,37,1) 0%, rgba(16,55,95,1) 100%);
    --light-blue-gradient: linear-gradient(180deg, rgba(16,55,95,1) 0%, rgba(26,110,170,1) 20%, rgba(26,110,170,0) 60%);
}
* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--inter);
}
/* R E S P O N S I V E  F O N T S */
@media (max-width: 550px){
    h1 { font-size: 1.5rem; } 
    h2 { font-size: 1.1rem; }
    h3 { font-size: 1rem; }
    h4 { font-size: 0.8rem; }
    p { 
        font-size: 0.8rem; 
        line-height: 1.2rem;
        &:not(:last-child)  {
            margin-bottom: 2vh;
        }
    }
}
@media (min-width: 551px){
    h1 {font-size: 3rem;}
    h2 { font-size: 2.5rem; }
    h3 { font-size: 2rem; }
    h4 { font-size: 1.2rem; }
    p { 
        font-size: 1.2rem; 
        line-height: 1.5rem;
        &:not(:last-child)  {
            margin-bottom: 2vh;
        }
    }
}
/* R E U S A B L E  C L A S S E S */
.bg-blue-gradient {
    background: var(--blue-gradient);;
}
.bg-light-blue-gradient {
    background: var(--light-blue-gradient);
}
.white-text {
    color: var(--soft-white);
}
.yellow-text {
    color: var(--yellow);
}
.full-height {
    height: 100vh;
}
.med-height {
    height: 65vh;
}
.full-width {
    width: 100%;
}
.med-width {
    width: 65%;
}
.container {
    display: flex;
    margin: auto;
    column-gap: 1.5vw;
}
.flex-column {
    flex-direction: column;
}
.left-div,
.right-div {
    display: flex;
    flex-flow: column wrap;
    width: 50%;
}
.blue-button {
    width: 200px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--soft-white);
    background-color: var(--light-blue);
    border: none;
    border-radius: 10px;
}
.square-border-box {
    width: 225px;
    height: 225px;
    border: 5px solid var(--light-blue);
    border-radius: 10px;
    background-color: var(--soft-white);
}
@media (max-width: 550px){
    .square-border-box {
        width: 125px;
        height: 125px;
        border-radius: 5px;
    }
}
/* H E A D E R  S E C T I O N */
#background-overlay {
    background: linear-gradient(135deg, rgba(8, 13, 37, 0.5) 0%, rgba(16, 55, 95, 0.5) 100%);
    /* mix-blend-mode: hard-light; */
    object-fit: cover;
    width: 100%;
    height: 92vh;
    position: absolute;
    bottom: 0;
    z-index: -1;
}
#bg-hero-video {
    object-fit: cover;
    width: 100%;
    height: 92vh;
    position: absolute;
    top: 8vh;
    z-index: -2;
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 0;
    z-index: 1;
}
#nav-left,
#nav-right {
    display: flex;
    justify-content: space-evenly;
    width: 40vw;
}
#logo {
    text-align: center;
    width: 20vw;
}
#logo h1 {
    font-size: 48px;
    letter-spacing: 5px;
}
#logo h2 {
    font-size: 20px;
    letter-spacing: 2px;
}
a {
    text-decoration: none;
}
nav .nav-link {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    padding: 0px 25px;
}
nav .nav-link:hover {
    color: var(--yellow);
    border-left: 3px solid var(--yellow);
    border-right: 3px solid var(--yellow);
    transition: 0.35s;
}
header .britain-logo {
    position: absolute;
    right: 2vw;
    bottom: 2.5vh;
}
/*Hero Section*/
/*Fade me in*/
#hero {
    height: 90%;
    width: 50%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
}
#hero-image {
    width: 100%;
    height: auto;
}
#hero-image img {
    object-fit: contain;
    width: 100%;
}
#hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    padding: 35px;
    background-color: #00000085;
    border-radius: 15px;
}
#hero-text h1 {
    margin-bottom: 30px;
    font-weight: 700;
    letter-spacing: 3px;
    color: var(--yellow);
    text-transform: uppercase;
}
#hero-text p {
    line-height: 2;
    font-weight: 600;
}
/* S E C T I O N  1  -  W H A T  I S  L O C K D O W N */
#system-hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#system-hero::before {
    content: "";
    background-image: url("../isometric-school.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#system-hero div {
    margin: 50px 0 25px 0;
    text-align: center;
    width: 50%;
    z-index: 1;
}
#circle-container {
    position: relative;
    bottom: 80%;
    display: flex;
    width: 60%;
    height: 65%;
    margin: auto;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    column-gap: 50%;
}
.circle-image {
    width: 200px;
    height: 200px;
    border: 5px solid var(--yellow);
    border-radius: 50%;
    background-color: var(--soft-white);
}
/* S E C T I O N  2  -  W H Y  L O C K D O W N */
#why-lockdown {
    padding: 50px 0;
}
#why-lockdown h2,
#why-lockdown video {
    margin-bottom: 5%;
}
/* S E C T I O N  3  -  W H E R E  L O C K D O W N */
#where-lockdown {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
}
#where-lockdown::before {
    content: "";
    background-image: url("network-vector.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.25;
}
#where-lockdown .container {
    justify-content: center;
    align-items: center;
    row-gap: 3vh;
    margin: 3vh 0;
}
#scenarios {
    width: 100%;
    column-gap: 2%;
    flex-wrap: wrap;
}
.scenario-card {
    display: flex;
    flex-direction: column;
    row-gap: 1.5vh;
    align-items: center;
}
/* S E C T I O N  4  -  L A T E S T  U P D A T E S */
#latest-updates {
    background: var(--blue-gradient); 
    align-items: center;
    row-gap: 3vh;
    padding: 3vh 0;
}
.blog-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2%;
    width: 100%;
    overflow: hidden;
}
.blog-card {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    background: var(--soft-white);
    transition: background-color 0.5s ease-out;
}
.blog-card:hover {
    background-color: var(--light-blue);
    box-shadow: 5px 5px 10px var(--dark-blue);
}
.blog-card a {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    text-decoration: none;
    color: var(--dark-blue);
}
.blog-image {
    width: 100%;
    height: 200px;
    background-color: var(--soft-white);
    border: 5px solid var(--light-blue);
    border-radius: 5px;
    overflow: hidden;
}
.blog-image img {
    object-fit: cover;
    width: 100%;
}
.left-arrow svg,
.right-arrow svg {
    color: var(--soft-white);
    width: 5rem;
    height: 5rem;
}
.left-arrow svg:hover,
.right-arrow svg:hover {
    color: var(--yellow);
}
/* N E W S L E T T E R  F O R M */
#newsletter {
    justify-content: center;
    align-items: center;
    row-gap: 3vh;
    padding: 3vh 0;
    position: relative;
}
#newsletter::before {
    content: "";
    background-image: url(../grey-triangles.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}
form {
    width: 50%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: center;
}
fieldset {
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    row-gap: 2vh;
}
input[type=text] {
    width: 45%;
}
@media (max-width: 550px) {
    fieldset {
        flex-flow: column wrap;
    }
    input[type=text] {
        width: 100%;
    }
}
input[type=email] {
    width: 100%;
}
input[type=text],
input[type=email] {
    height: 45px;
    border: 3px solid var(--light-grey);
    border-radius: 5px;
    outline: none;
}
input[type=text]:focus,
input[type=email]:focus {
    border: 3px solid var(--light-blue);
    box-shadow: 3px 3px 6px #cfcfcf75;
    transition: 0.3s;
}
input::placeholder {
    font-size: 1rem;
}
/* F O O T E R  M E N U */
#footer {
    width: 100%;
    height: 25vh;
    justify-content: space-around;
    padding: 2vh 0;
    flex-wrap: wrap;
}
@media (max-width: 550px) {
    #footer div {
        width: 100%;
    }
}
#footer .white-text {
    display: flex;
    flex-direction: column;
    row-gap: 10%;
}
#footer a{
    color: var(--soft-white);
    text-decoration: none;  
}
#footer p {
    margin-bottom: 0.5rem;
}
#footer ul {
    list-style-position: inside;
    padding-left: 0;
}
#footer li {
    list-style: none;
    &:not(:last-child)  {
        margin-bottom: 0.65rem;
    }
}
#footer h3 {
    margin-bottom: 1vh;
}
#social-icons {
    display: inline-flex;
    width: 300px;
    height: 50px;
    color: var(--light-blue);
}
#social-icons svg {
    width: 100%;
    height: 75%;
    margin-right: 10%;
}
.britain-logo {
    width: 200px;
    height: 75px;
    background-color: var(--soft-white);
}
#footer .britain-logo {
    align-self: flex-end;
}