* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}
:root {
    --soft-white: rgb(249, 249, 249);
    --yellow: rgb(255, 193, 7);
    --light-blue: rgb(77, 128, 204);
    --med-blue: rgb(36, 111, 223);
    --dark-blue: rgb(8, 13, 37);
    --dark-blue-opacity: rgba(8, 13, 37, 0.5);
    --light-grey: rgb(207, 207, 207);
    --blue-gradient: linear-gradient(135deg, rgba(8,13,37,1) 0%, rgba(16,55,95,1) 100%);
    --light-blue-gradient: linear-gradient(180deg, rgba(16,55,95,1) 0%, rgba(26,110,170,1) 20%, rgba(26,110,170,0) 60%);
}
/* L I N K  S T Y L I N G */
a {
    text-decoration: none;
}
/* R E S P O N S I V E  F O N T S */
@media (max-width: 550px) {
    .p-head {
        font-size: 1.2rem;
        font-weight: 600;
    }
    p { font-size: 1rem; }
    h1 { font-size: 3rem; }
    h2 { font-size: 1.8rem; }
    h3 { font-size: 1.2rem; }
}
@media (min-width: 551px) {
    .p-head {
        font-size: 1.5rem;
        font-weight: 600;
    }
    p { 
        font-size: 1rem;
        &:not(:last-child) {
            margin-bottom: 1.25rem;
        } 
    }
    h1 { font-size: 3.5rem; }
    h2 { font-size: 2rem; }
    h3 { font-size: 1.5rem; }
}
/* H E R O  C O N T A I N E R */
.top-hero {
    display: flex;
    position: relative;
}
.top-hero:before {
    content: "";
    background-image: url("../network-vector.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.25;
}
.top-hero h1 {
    color: var(--yellow);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 4rem;
    letter-spacing: 0.25rem;
    line-height: 4.5rem;
    margin-bottom: 25px;
}
.top-hero ul {
    margin-top: 10px;
    list-style: none;
    line-height: 2rem;
}
.top-hero li {
    font-size: 1.2rem;
    font-weight: 500;
}
.top-hero .inner-container {
    justify-content: center;
}
/* C O N T A I N E R S */
.section {
    padding: 1% 0;
}
.container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: 1600px;
    gap: 4%;
}
.inner-container {
    display: flex;
    flex-basis: 48%;
    min-width: 500px;
}
.image-container {
    width: 100%;
    display: flex;
}
.image-container img {
    object-fit: contain;
    width: 100%;
}
.flex-column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
/* C A R D S */
.card {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    min-width: 300px;
    max-width: 450px;
    margin: 1.5%;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    color: var(--dark-blue);
}
.card:hover {
    box-shadow: 1px 2px 8px var(--dark-blue-opacity);
    transition: 0.3s ease-in;
}
.card:hover .card-heading {
    padding-left: 15px;
    color: var(--light-blue);
    transition: 0.3s ease-in;
}
.card:active {
    box-shadow: none;
}
.card:active .card-heading {
    padding-left: 0;
}
.card-heading {
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-transform: uppercase;
}
.card-heading svg {
    height: 25px;
    width: auto;
}
/* B O R D E R S */
.blue-border {
    border: 5px solid var(--light-blue);
    border-radius: 10px;
}
/* B U T T O N S */
.blue-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 225px;
    max-width: 300px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--soft-white);
    background-color: var(--light-blue);
    border: none;
    border-radius: 10px;
}
.blue-button:hover {
    box-shadow: 1px 3px 10px var(--dark-blue-opacity);
    background-color: var(--soft-white);
    color: var(--light-blue);
    transition: 0.3s;
}
.blue-button:active {
    background-color: var(--dark-blue);
    color: var(--soft-white);
    transition: 0.3s;
}
/* H E A D E R */
nav {
    background: var(--blue-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}
nav a {
    color: var(--soft-white);
}
.nav-link {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    padding: 0 5%;
}
.nav-link:hover {
    color: var(--yellow);
    border-left: 3px solid var(--yellow);
    border-right: 3px solid var(--yellow);
    transition: 0.3s;
}
#left-nav,
#right-nav,
#center-nav {
    display: flex;
    justify-content: space-evenly;
}
#left-nav,
#right-nav {
    width: 35%;
}
.alertex-logo {
    background-color: var(--soft-white);
    color: var(--dark-blue);
    width: 350px;
    height: 125px;
    border: 10px solid var(--light-blue);
}
/* N E W S L E T T E R */
#newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 2vh;
    padding: 3% 5%;
    position: relative;
    color: var(--dark-blue);
}
#newsletter::before {
    content: "";
    background-image: url(../grey-triangles.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}
form {
    width: 50%;
    min-width: 400px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: center;
}
fieldset {
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    row-gap: 2vh;
}
input[type=text] {
    width: 45%;
}
input[type=email] {
    width: 100%;
}
input[type=text],
input[type=email],
input[type=number],
textarea {
    height: 45px;
    border: 3px solid var(--light-grey);
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
}
input[type=text]:focus,
input[type=email]:focus {
    border: 3px solid var(--light-blue);
    background-color: rgba(168, 202, 254, 0.1);
    box-shadow: 3px 3px 6px #cfcfcf75;
    transition: 0.3s;
}
input::placeholder {
    font-size: 1rem;
}
/* F O O T E R */
footer {
    width: 100%;
}
#footer-menu {
    padding: 0 5% 0.5% 5%;
    background: var(--blue-gradient);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 4fr 1fr;
    column-gap: 5vw;
    color: var(--soft-white);
}
#footer-contact {
    display: flex;
    flex-direction: column;
}
#footer-contact h1 {
    margin: 2% 0;
}
#footer-contact div {
    display: flex;
    column-gap: 5%;
    &:not(:last-child)  {
        margin-bottom: 5%;
    }
}
#footer-contact svg {
    color: var(--yellow);
    align-self: center;
    height: 20px;
    width: 20px;
}
.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 5%; 
    padding-top: 5%;
    place-self: stretch center;
}
.footer-menu h2 {
    color: var(--yellow);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
.footer-menu ul {
    list-style: none;
    line-height: 1.7rem;
}
.footer-menu a {
    color: var(--soft-white);
}
.footer-menu a:hover {
    text-decoration: underline;
}
#social-icons {
    place-self: end start;
    width: 100%;
}
#social-icons a {
    &:not(:last-child)  {
        margin-right: 5%;
    }
}
#social-icons svg {
    width: 35px;
    height: auto;
    color: var(--light-blue);
}
#copyright {
    grid-column: 2 / span 2;
    place-self: end center;
}
#footer-menu .britain-logo {
    place-self: end end;
}
.britain-logo img {
    width: 200px;
    border-radius: 5px;
}